@charset "utf-8";
html,body {
    height: 100%;
    font: 12px/150% Hiragino Sans GB,Microsoft Yahei,"\5b8b\4f53";
    color: #666;
    background: #fff;
}
.w {
    width: 1210px;
    margin: 0 auto;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
/* 面包屑 */
.crumbs-bar .crumbs-nav {
    max-height: 55px;
    line-height: 24px;
    max-width: 1130px;
    display: inline-block;
    *float: left;
    .item {
        float: left;
        margin-right: 8px;
        color: #000;
        .crumbs-arrow {
            font-family: simsun;
            font-style: normal;
            display: inline-block;
        }
        .one-level .crumbs-link {
            font-size: 12px;
            color: #000;
            float: left;
            margin-right: 8px;
        }
    }
}
/* 条件筛选 */
.selector {
    background: #fff;
    margin-bottom: 30px;
    .s-brand {
        width: auto;
        height: auto;
        _position: relative;       
    }
    .s-line {
        width: auto;
        height: auto;
        font-family: "microsoft yahei";
    }
    .sl-wrap {
        position: relative;
        _zoom: 1;
        line-height: 34px;
        border-bottom: 1px solid #ddd;
        background: #f3f3f3;
        .sl-key {
            float: left;
            width: 100px;
            height: 100%;
            padding-left: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            color: #4a4a4a;
            font-weight: 700;
        }
        .sl-value {
            padding-left: 10px;
            padding-bottom: 8px;
            padding-top: 8px;
            padding-right: 130px;
            overflow: hidden;
            zoom: 1;
            background: #fff;
            .sl-b-letter {
                display: none;
                float: left;
                overflow: hidden;
                zoom: 1;
                padding-top: 6px;
                margin-bottom: 10px;
                li.curr, li:hover {
                    border-color: #863177;
                    color: #863177;
                }
            }
            .sl-v-list {
                overflow: hidden;
                zoom: 1;
                padding-top: 4px;
                li a {        
                    white-space: nowrap;
                    zoom: 1;
                    color: #005aa0;
                }
                ul {
                    float: left;
                    overflow: hidden;
                    zoom: 1;
                    position: relative;
                    height: 30px;
                    li {
                        float: left;
                        _display: inline;
                        margin-right: 16px;
                        margin-bottom: 4px;
                        height: 26px;
                        line-height: 26px;
                        margin-right: 50px;
                        font-family: "microsoft yahei";
                        a {                           
                            float: left;
                            white-space: nowrap;
                            zoom: 1;
                            color: #005aa0;
                        }
                    }
                }
            }
            .sl-b-selected {
                overflow: hidden;
                zoom: 1;
                display: none;
                .sl-b-key, .sl-v-list {
                    float: left;
                }
            }
            .sl-btns {
                display: none;
                text-align: center;
                padding-top: 5px;
                padding-bottom: 5px;
                .btn-primary {
                    margin-right: 8px;
                    display: inline-block;
                    line-height: 14px;
                    height: 14px;
                    border-radius: 2px;
                    background: #863177;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    border: 0;
                    padding: 5px 15px 6px;
                    color: #fff;
                    background-color: #863177;
                }
                .btn {
                    display: inline-block;
                    line-height: 14px;
                    height: 14px;
                    border-radius: 2px;
                    background: #f7f7f7;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                }
                .btn.disabled {
                    padding: 4px 13px 5px;
                    border: 1px solid #ddd;
                    background: #fff;
                    cursor: default;
                    color: #ccc;
                    opacity: .2;
                    filter: alpha(Opacity=20);
                    filter: alpha(Opacity=20);
                }
                .btn-default {
                    display: inline-block;
                    line-height: 14px;
                    height: 14px;
                    border-radius: 2px;
                    background: #f7f7f7;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    border: 1px solid #ddd;
                    padding: 4px 13px 5px;
                    color: #000;
                    background-color: #fff;
                }
            }
        }
        a {
            color: #666;
            text-decoration: none;
            outline: 0 none;
        }
        .sl-ext {
            position: absolute;
            top: 13px;
            right: 10px;
            width: 120px;
            height: auto;
            line-height: 22px;
            overflow: hidden;
            zoom: 1;
            .sl-e-more {
                float: left;
                margin-left: 10px;
                margin-right: 10px;
                position: relative;
                width: 40px;
                height: 22px;
                background: #fff;
                visibility: hidden;
                color: #333;
                border: 1px solid #ddd;
                padding-left: 10px;
                i {
                    position: absolute;
                    top: 9px;
                    right: 5px;
                    display: block;
                    width: 7px;
                    height: 4px;
                    background-position: 0 -74px;
                }
            }
            .sl-e-more i,.sl-e-multiple i {
                background: url(../img/goodslist-selflist.ele.png) no-repeat;
                -webkit-transition: background-position .15s ease-in-out;
                -moz-transition: background-position .15s ease-in-out;
                transition: background-position .15s ease-in-out;
            }
            .sl-e-multiple {
                float: left;
                height: 20px;
                line-height: 20px;
                border: 1px solid #ddd;
                padding: 0 3px 0 18px;
                position: relative;
                background: #fff;
                color: #333;
                i {
                    position: absolute;
                    display: block;
                    font-style: normal;
                    left: 6px;
                    top: 7px;
                    width: 8px;
                    height: 8px;
                    background-position: 0 -128px;
                }
            }
        }
    }
    .sl-wrap-1 {
        position: relative;
        line-height: 34px;
        border-bottom: 1px solid #ddd;
        background: #f3f3f3;
        .sl-key-1 {
            float: left;
            width: 100px;
            padding-left: 10px;
            color: #4a4a4a;
            font-weight: 700;
        }
        .sl-value {
            padding-left: 10px;
            padding-bottom: 8px;
            padding-top: 8px;
            padding-right: 130px;
            overflow: hidden;
            zoom: 1;
            background: #fff;
            .sl-v-tab {
                overflow: hidden;
                line-height: 34px;
            }
        }
        .sl-v-content-item {
            display: none;
            width: 1208px;
            position: absolute;
            left: 0;
            top: 30px;
            background: #fff;
            border: 1px solid #7d256e;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            z-index: 10;
            .sl-wrap {
                padding: 0;
            }
        }

    }
    .sl-v-tab li.sl-key {
        float: left;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: 70px;
        height: 22px;
        line-height: 22px;
        margin-right: 20px;
        font-family: "microsoft yahei";
        border: 1px solid #ddd;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        position: relative;
        background: #fff;
        color: #005aa0;
        font-weight: 400;
        i {
            display: inline-block;
            width: 8px;
            height: 5px;
            background: url(../img/goodslist-chose-open.png) no-repeat center;
            margin-left: 4px;
        }
    }
}
a {
    color: #666;
}
img {
    border: 0;
    vertical-align: middle;
    background: 0 0;
}
/* 排行 */
.cnt-wrapper {
    .recommend {
        width: 180px;
        padding: 0 20px;
        border: 1px solid #f5f5f5;
        float: left;
        font-family: "microsoft yahei";
        .title {
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            font-weight: 700;
            color: #000;
            border-bottom: 1px solid #f5f5f5;
        }
        .r-list {
            .item {
                display: inline-block;
                margin: 20px 0;
                img {
                    width: 180px;
                    height: 180px;
                    margin-top: 6px;
                }
                .price {
                    font-size: 0;
                    cursor: default;
                    margin-top: 7px;
                    em {
                        display: inline-block;
                        font-size: 12px;
                        color: #939393;
                        vertical-align: middle;
                    }
                    span {
                        display: inline-block;
                        font-size: 16px;
                        color: #d91f20;
                        vertical-align: middle;
                        font-family: Arial;
                        margin-top: 1px;
                    }
                }
                .name {
                    color: #000;
                    display: block;
                    width: 180px;
                    max-height: 36px;
                    overflow: hidden;
                    margin-top: 2px;
                }
            }
        }
    }
    .g-main1 {
        width: 962px;
        float: right;
        .filter {
            position: relative;
            z-index: 4;
            _zoom: 1;
            font-family: "microsoft yahei";
            .f-line {
                padding: 10px 20px;
                background: #f5f5f5;
                zoom: 1;
            }
            .f-line.top {
                height: 30px;
                background: #f5f5f5;
                .f-sort {
                    float: left;
                    margin-right: 24px;
                    a {
                        float: left;
                        padding: 0 10px;
                        height: 28px;
                        background: #fff;
                        border: 1px solid #d6d6d6;
                        line-height: 28px;
                        margin-right: -1px;
                        color: #333;
                        position: relative;
                        i {
                            display: none;
                            position: absolute;
                            top: 9px;
                            right: 8px;
                            width: 8px;
                            height: 9px;
                            overflow: hidden;
                            font-size: 0;
                            z-index: 1;
                        }
                        .f-cut {
                            display: inline-block;
                            color: #e8e8e8;
                            width: 7px;
                            height: 9px;
                            margin: 10px 0 0 8px;
                            background: url(../img/goodslist-arrow.png) no-repeat center;
                        }
                        .f-cut-price {
                            display: inline-block;
                            width: 8px;
                            height: 9px;
                            margin: 8px 0 0 8px;
                            background: url(../img/goodslist-price-icon.png) no-repeat center;
                        }
                        
                    }
                    a.curr,a:hover {
                        color: #863177;
                        border-color: #863177;
                        z-index: 1;
                    }
                    a.curr .f-cut, a:hover .f-cut {
                        background: url(../img/goodslist-arrow-hover.png) no-repeat center;
                    }
                    a.up{
                        position: relative;
                        background: #863177;
                        color: #fff;
                        i {
                            display: block;
                            background: url(../img/goodslistprice-icon-up.png) no-repeat center;
                        }
                    }
                    a.down {
                        position: relative;
                        background: #863177;
                        color: #fff;
                        i {
                            display: block;
                            background: url(../img/goodslist-price-icon-down.png) no-repeat center;
                        }
                        .f-cut-price {
                            background: 0 0;
                        }
                    }  
                }
                .price-chose {
                    width: 164px;
                    float: left;
                    position: relative;
                    .input-txt {
                        height: 22px;
                        line-height: 22px;
                        border: 1px solid #d4d4d4;
                        padding: 3px;
                        width: 64px;
                    }
                    .price-edit {
                        display: none;
                        position: absolute;
                        left: -7px;
                        top: -8px;
                        width: 168px;
                        height: 72px;
                        overflow: hidden;
                        background: #fff;
                        border: 1px solid #979797;
                        z-index: 1;
                        a.price-cancle-btn {
                            position: absolute;
                            left: 15px;
                            top: 46px;
                            font-size: 12px;
                            color: #015aa0;
                        }
                        a.btn-default {
                            position: absolute;
                            right: 6px;
                            top: 41px;
                        }
                        .btn-default {
                            display: inline-block;
                            line-height: 14px;
                            height: 14px;
                            border-radius: 2px;
                            background: #f7f7f7;
                            text-align: center;
                            text-decoration: none;
                            cursor: pointer;
                            border: 1px solid #ddd;
                            padding: 4px 13px 5px;
                            color: #000;
                            background-color: #fff;
                        }
                    }
                }
                .price-chose-focus .sl-price {
                    z-index: 5;
                    position: relative;
                }
                .price-chose-focus .price-edit {
                    display: block;
                }
                .f-pager {
                    float: right;
                    .fp-text {
                        line-height: 30px;
                        margin-right: 10px;
                        font-family: verdana;
                    }
                    .fp-next,.fp-prev,.fp-text {
                        float: left;
                    }
                    .fp-next,.fp-prev {
                        width: 50px;
                        height: 28px;
                        border: 1px solid #d2d2d2;
                        background: #fff;
                        line-height: 28px;
                        font-family: "\5b8b\4f53";
                        text-align: center;
                        font-size: 12px;
                        color: #d2d2d2;
                    }
                    .fp-prev {
                        margin-right: -1px;
                    }
                    .fp-next.disabled,.fp-prev.disabled {
                        padding: 0;
                        background: #f7f7f7;
                        cursor: default;
                    }
                }
                .st-ext {
                    float: right;
                    margin-right: 30px;
                    font-size: 12px;
                    color: #7a7a7a;
                    line-height: 30px;
                    .st-ext span {
                        font-weight: 700;
                    }
                }
            }
            .btm {
                margin-top: 1px;
                .f-feature {
                    float: left;
                    position: relative;
                    width: auto;
                    height: 30px;
                    overflow: hidden;
                    ul li {
                        float: left;
                        display: inline;
                        height: 30px;
                        line-height: 30px;
                        a {
                            padding-right: 20px;
                            i {
                                position: absolute;
                                left: 0;
                                top: 9px;
                                background: url(../img/goodslist-selflist.ele.png) no-repeat 9999px 9999px;
                                display: inline-block;
                                height: 11px;
                                width: 11px;
                                background-color: #fff;
                                border: 1px solid #ccc;
                                font-size: 0;
                            }
                        }
                    }
                }
                .f-search {
                    float: right;
                    .input-txt {
                        width: 128px;
                        height: 28px;
                        line-height: 22px;
                        color: #999;
                        border: 1px solid #d4d4d4;
                    }
                    .btn,.input-txt {
                        float: left;
                    }
                    .btn {
                        width: 48px;
                        height: 28px;
                        line-height: 28px;
                        color: #333;
                        border: 1px solid #d2d2d2;
                        background: #f7f7f7;
                        border-radius: 0;
                        margin-left: -1px;
                        padding: 0;
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;
                        display: inline-block;
                    }
                }
            }
            .f-feature ul li a,.f-store .instock a {
                position: relative;
                display: inline-block;
                padding-left: 18px;
                padding-right: 10px;
                color: #333;
            }
        }
        .goods-list {
            margin-bottom: 20px;
            height: auto;
            position: relative;
            z-index: 1;
            _zoom: 1;
            .gl-warp {
                margin: 1px 0 0 1px;
                width: 962px;
                .gl-item {
                    float: left;
                    border: 1px solid #e8e8e8;
                    width: 239px;
                    overflow: hidden;
                    position: relative;
                    margin: -1px 0 0 -1px;
                    z-index: 1;
                    .p-tab {
                        height: 30px;
                        background: #fff;
                        margin-top: 11px;
                    }
                    .p-img {
                        width: 200px;
                        height: 200px;
                        margin: 10px auto 0;
                        position: relative;
                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                    .price-icons {
                        margin-top: 12px;
                        height: 24px;
                        overflow: hidden;
                        font-family: "microsoft yahei";
                        .price {
                            width: 209px;
                            margin: 0 0 0 15px;
                            line-height: 1;
                            color: #d91f20;
                            cursor: default;
                            float: left;
                            span {
                                float: left;
                                font-size: 20px;
                                font-family: Verdana,serif;
                                letter-spacing: -1px;
                                b {
                                    font-size: 21px;
                                    font-weight: 400;
                                }
                            }
                            .sam {
                                float: right;
                                font-size: 0;
                            }
                        }
                    }
                    .p-name {
                        margin: 9px 15px 6px 15px;
                        em {
                            display: block;
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            color: #000;
                            font-family: "microsoft yahei";
                            cursor: pointer;
                            .name-icon-glo {
                                display: inline-block;
                                width: 60px;
                                height: 16px;
                                background: #ff3e68;
                                font-size: 12px;
                                color: #fff;
                                text-align: center;
                                line-height: 16px;
                                -webkit-border-radius: 2px;
                                -moz-border-radius: 2px;
                                -ms-border-radius: 2px;
                                border-radius: 2px;
                                vertical-align: middle;
                                margin-right: 2px;
                            }
                        }
                    }
                    .p-conduct {
                        display: none;
                        margin: 0 10px 5px 20px;
                        em {
                            display: block;
                            height: 20px;
                            line-height: 20px;
                            overflow: hidden;
                            color: #e4393c;
                            font-family: "microsoft yahei";
                            cursor: default;
                        }
                    }
                    .p-buy {
                        height: 20px;
                        line-height: 20px;
                        font-family: "microsoft yahei";
                        .assess {
                            float: left;
                            text-align: center;
                            font-size: 0;
                            margin-left: 15px;
                            a {
                                color: #000;
                                span {
                                    font-size: 12px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    // margin-left: 4px;
                                    color: #a7a7a7;
                                    b.comment_num {
                                        color: #7d256e;
                                    }
                                }
                            }
                        }
                    }
                    .p-shop-name {
                        margin-left: 15px;
                        margin-top: 4px;
                        font-size: 12px;
                        color: #999;
                        line-height: 16px;
                        overflow: hidden;
                        p a {
                            display: block;
                            float: left;
                            max-width: 175px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #999;
                        }
                        .p-shop-name-icon.shop-icon-new {
                            background: url(i/shop-icon-new.png) no-repeat center;
                        }
                    }
                    .p-icons {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 12px;
                        max-width: 110px;
                        margin: 9px 15px;
                        height: 18px;
                        overflow: hidden;
                        max-width: 200px;
                    }
                    .other {
                        width: 209px;
                        height: 27px;
                        font-family: "microsoft yahei";
                        margin: 0 auto;
                        .cj-concern {
                            width: 56px;
                            height: 26px;
                            line-height: 26px;
                            text-align: center;
                            float: left;
                            color: #999;
                            cursor: pointer;
                            border: 1px solid #ddd;
                            position: relative;
                            i {
                                background: url(i/care.png) no-repeat center;
                                width: 14px;
                                height: 13px;
                                display: inline-block;
                                *display: inline;
                                *zoom: 1;
                                vertical-align: middle;
                                *margin: 4px 3px 0 0;
                            }
                            em {
                                display: inline-block;
                                *display: inline;
                                *zoom: 1;
                                *vertical-align: middle;
                            }
                        }
                        .p-operate {
                            width: 56px;
                            height: 26px;
                            line-height: 26px;
                            text-align: center;
                            float: left;
                            color: #999;
                            cursor: pointer;
                            border: 1px solid #ddd;
                            margin-left: -1px;
                            position: relative;
                            .p-o-btn {
                                height: 26px;
                                line-height: 26px;
                                padding: 0 3px 0 22px;
                                position: relative;
                                width: 28px;
                                display: block;
                            }
                            .contrast i {
                                left: 5px;
                                top: 6px;
                                background: url(i/selflist.ele.png) 9999px 9999px no-repeat;
                                display: inline-block;
                                height: 12px;
                                width: 12px;
                                border: 1px solid #ddd;
                                font-size: 0;
                                position: absolute;
                            }
                        }
                        .addCart,.presale_cyqg {
                            width: 92px;
                            height: 26px;
                            line-height: 26px;
                            float: left;
                            text-align: center;
                            cursor: pointer;
                            border: 1px solid #ddd;
                            margin-left: -1px;
                            position: relative;
                        }
                    }
                }

            }

        }
        .item-style-v1 .gl-item {
            height: 456px;
        }
        .goods-list .gl-item .p-icons, .goods-list .gl-item .price del, .goods-list .gl-item .price span b {
            font-family: "microsoft yahei",serif;
        }
        .goods-list .gl-item .p-name em i.name-other, .goods-list .gl-item .p-name em i.name-other a {
            font-style: normal;
            color: #ffaa71;
        }
    }
    
}