//    header
.header{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
    z-index: 99;
    position: relative;
    font-size: 12px;    
    li{
        float: left;
        height: 30px;
        padding: 0 2px;
        a{
            color: #9A949B;
        }
    }
}
//search 
.cw-icon {
    position: relative;
    cursor: default;
    zoom: 1;
}
.dorpdown {
    position: relative;
}
.search{
    .logo-head{
        float: left;
        width: 240px;
        height: 100px;
        .logo{
            background: url(../img/logo.png);
            width: 240px;
            height: 48px;
            display: block;
            text-indent: -20000px;
            margin-top: 25px;
        }
    }
    .mod_service{
        margin: 25px 115px 0 0;
        width: 140px;
        height: 48px;
        float: left;
        position: relative;
    }
    #search{
        width: 575px;
        position: relative;
        z-index: 11;
        float: left;
        margin-top: 25px;
        font-size: 12px;
        .form{
            width: 100%;
            height: 33px;
            .text{
                width: 463px;
                float: left;
                height: 24px;
                line-height: 24px;
                padding: 4px;
                margin-bottom: 4px;
                border-width: 2px 0 2px 2px;
                border-color: #ff3e68;
                border-style: solid;
                outline: 0;
                font-size: 14px;
                font-family: Hiragino Sans GB, Microsoft Yahei, Simsun;
            }
            .button {
                text-align: center;
                padding: 0;
                float: left;
                width: 102px;
                height: 36px;
                background: #ff3e68;
                border: none;
                line-height: 1;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                font-family: "Hiragino Sans GB", "microsoft yahei", "simsum";
            }
        }
        .hotwords{
            width: 470px;
            float: left;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            a {
                float: left;
                white-space: nowrap;
                margin-right: 10px;
                color: #a9a4a8;
                font-family: "microsoft yahei";
            }
        }
    }
    #settleup{
        float: right;
        z-index: 11;
        height: 36px;
        margin-top: 25px;
        .ci-left {
            background: url(../img/nav.png)-59px 0 no-repeat;
            width: 17px;
            height: 18px;
            left: 8px;
            top: 8px;
            display: block;
            position: absolute;
            overflow: hidden;
        }
        span {
            color: #fff;
            font-size: 16px;
        }
    }
    .clr {
        display: block;
        overflow: hidden;
        clear: both;
        height: 0;
        line-height: 0;
            font-size: 0;
        }
    
    .cw-icon {
        display: block;
        width: 90px;
        height: 34px;
        border: 1px solid #ff3e68;
        padding: 0 2px 0 26px;
        background: #ff3e68;
        text-align: center;
        line-height: 34px;
        cursor: pointer;
        text-decoration: none;
    }
}
//nav
#nav{
    position: relative;
    min-width: 1210px;
    height: 42px;
    border-bottom: 1px solid #312B30;
    .w {
        position: relative;
        z-index: 13;
        height: 44px;
        #categorys{
            float: left;
            position: relative;
            z-index: 10;
            width: 242px;
            height: 40px;
            overflow: visible;
            background: #312B30;
            border-bottom: 2px solid #312B30;
            .dt a {
                display: block;
                width: 184px;
                height: 42px;
                line-height: 44px;
                font-size: 16px;
                padding: 0 10px 0 46px;
                background: #312B30;
                color: #fff;
                text-decoration: none;
                i {
                    background-repeat: no-repeat;
                    background-position: -53px -131px;
                    width: 16px;
                    height: 14px;
                    position: absolute;
                    top: 15px;
                    right: 204px;
                }
            }
            .dd {
                height: 526px;
                background-color: #312b30;
                .dd-inner {
                    padding: 1px 0 0 10px;
                    .item {
                        // position: relative;
                        z-index: 1;
                        height: 33px;
                        color: #fff;
                        margin-top: 10px;
                        
                        h3 {
                            float: left;
                            z-index: 2;
                            height: 33px;
                            padding: 0 13px 0 35px;
                            line-height: 33px;
                            font-size: 14px;
                            i{
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 18px;
                                height: 20px;
                                top: 6px;
                                right: 204px;
                                background-position: -28px;
                                background: url(../img/nav.png) no-repeat -28px 0;
                            }
                            a {
                                color: #fff;
                                font-weight: normal;
                                opacity: .91;
                            }
                            .arrow-right {
                                position: absolute;
                                background-repeat: no-repeat;
                                background-position: -60px -102px;
                                width: 6px;
                                height: 9px;
                                top: 11px;
                                right: 20px;
                                background: url(../img/nav.png) -60px -102px no-repeat;
                            }
                        }
                        h4 {
                            float: left;
                            z-index: 2;
                            width: 48px;
                            height: 33px;
                            overflow: hidden;
                            padding: 0 5px 0 2px;
                            line-height: 33px;
                            font-weight: normal;
                            a {
                                font-size: 14px;
                                color: #C0B6C2;
                                opacity: .91;
                            }
                        }
                       .sub-menu{
                            display: none;
                            width: 725px;
                            height: 523px;
                            background: #fff;
                            position: absolute;
                            left: 242px;
                            top: 43px;
                            // display: block;
                            border-left: 0;
                             .sub-list{
                                display: inline-block;
                                // *display: inline;
                                // *zoom: 1;
                                vertical-align: top;
                                width: 350px;
                                min-height: 100px;
                                max-height: 508px;
                                margin: 14px 0 0 39px;
                                position: relative;
                                z-index: 2;
                                overflow: hidden;
                                dl{
                                    white-space: nowrap;
                                    overflow: hidden;
                                    max-height: 100px;
                                    dt{
                                        margin-bottom: 14px;
                                        line-height: 18px;
                                        a {
                                            font-size: 14px;
                                            font-weight: bold;
                                            color: #312B30;
                                        }
                                    }
                                    dd{
                                        float: left;
                                        line-height: 12px;
                                        margin-bottom: 9px;
                                        a {
                                            display: block;
                                            font-size: 12px;
                                            color: #312B30;
                                            padding-right: 9px;
                                            margin-right: 9px;
                                            border-right: 1px solid #DEDEDE;
                                        }
                                    }
                                }
                                .slBlock {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    max-height: 100px;
                                    dt.liTitle {
                                        margin-bottom: 14px;
                                        line-height: 18px;
                                        font-size: 14px;
                                        font-weight: bold;
                                        color: #312B30;
                                    }
                                    dd.liItem {
                                        float: left;
                                        line-height: 12px;
                                        margin-bottom: 9px;
                                        display: block;
                                        font-size: 12px;
                                        color: #312B30;
                                        padding-right: 9px;
                                        margin-right: 9px;
                                        border-right: 1px solid #DEDEDE;
                                    }
                                }
                                .split {
                                    border-top: 1px solid #E3E2E3;
                                    height: 0;
                                    width: 350px;
                                    margin: 14px 0 19px;
                                }
                            }
                            .sub-right {
                                position: absolute;
                                display: inline-block;
                                width: 280px;
                                height: 524px;
                                vertical-align: top;
                                margin-left: 50px;
                                overflow: hidden;
                                z-index: 1;
                                top: 0;
                                .sub-brands {
                                    position: relative;
                                    z-index: 1;
                                    margin-left: 10px;
                                    li {
                                        float: left;
                                        margin: 30px 33px 0 0;
                                        img {
                                            width: 100px;
                                            height: 40px;
                                        }
                                    }
                                }
                                .sub-ad {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 255px;
                                    height: 230px;
                                }
                            }
                        }
                        
                    }
                    .item:hover{
                        background: #ffffff;
                    }
                    .item:hover a{
                        color:#312B30
                    }
                }
            }
        }
        #navitems{
            float: left;
            z-index: 2;
            ul {  
                li{
                    float: left;
                    a{
                        float: left;
                        height: 42px;
                        line-height: 42px;
                        margin-left: 28px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 16px;
                        color: #000;
                        position: relative;
                        img{
                            max-height: 26px;
                            border: 0;
                            vertical-align: middle;
                        }
                    }
                }
                
            }
        }
    }
}
.w {
    width: 1210px!important;
}
a {
    color: #666;
    text-decoration: none;
    outline: 0 none;
}
.headWrapper {
    min-width: 1210px;
    height: 535px;
    overflow: hidden;
    .cj-focus {
        position: relative;
        min-width: 1210px;
        height: 525px;
        overflow: visible;
        transition: all .2s;
        .slide {
            width: 726px;
            height: 369px;
            position: relative;
            transition: all .2s;
            overflow: hidden;
            margin-left: 349px;
        }
        .swiper-slide {
            width: 726px;
            font-size: 60px;
            text-align: center;
            line-height: 300px;
            img{
                width: 726px;
                height: 369px;
            }
        }
        .swiper-button-next{
            width: 65px;
            height: 80px;
            border-radius: 50%;
            background-color: #f1f1f1;
            opacity: 0.5;
            right: -15px;
        }
        .swiper-button-prev{
            width: 65px;
            height: 80px;
            border-radius: 50%;
            background-color: #f1f1f1;
            opacity: 0.5;
            left: -15px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: 8px;
            cursor: pointer;
            background: #f1f1f1;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: #863177;
        }
        .saleList {
            width: 726px;
            margin-left: 242px;
            ul {
                width: 105%;
                li {
                    float: left;
                    background: #fff;
                    a {
                        display: none;
                        height: 156px;
                        border-right: 1px solid #ebe2eb;
                    }
                }
            }
        }
        .slideRight {
            position: absolute;
            width: 242px;
            height: 525px;
            top: -369px;
            right: 0;
            border-bottom: 1px solid #f7f5f7;
            .sr-service {
                width: 242px;
                height: 312px;
                overflow: hidden;
                ul {
                    width: 750px;
                    margin-left: -242px;
                    li {
                        float: left;
                        width: 242px;
                        height: 312px;
                        background: #fff;
                        a {
                            display: block;
                            width: 242px;
                            height: 312px;
                            .tit {
                                display: block;
                                font-size: 18px;
                                color: #312b30;
                                margin: 20px 0 6px;
                            }
                            .f-tit {
                                display: block;
                                color: #9a949b;
                            }
                            img {
                                display: block;
                                width: 159px;
                                height: 159px;
                                margin: 52px auto 0;
                            }
                        }
                    }
                    span {
                        text-align: center;
                    }
                }
                .control {
                    position: absolute;
                    width: 70px;
                    top: 90px;
                    left: 50%;
                    margin-left: -30px;
                    text-align: center;
                    cursor: default;
                    a.curr {
                        background-position: 0 -24px;
                    }
                    a {
                        display: inline-block;
                        // *display: inline;
                        // *zoom: 1;
                        // background: url(i/slideV2.png) -20px -24px no-repeat;
                        width: 10px;
                        height: 10px;
                        margin-right: 10px;
                    }
                }
            }
            .baitiao {
                position: absolute;
                width: 242px;
                height: 194px;
                background: #fff;
                padding-top: 20px;
                .baitiao {
                    position: absolute;
                    width: 242px;
                    height: 194px;
                    background: #fff;
                    padding-top: 20px;
                }
            }
        }
    }
    
}