html, body {
  height: 100%;
  font: 12px/150% Hiragino Sans GB,Microsoft Yahei,"\5b8b\4f53";
  color: #666;
  background: #fff;
}

.w {
  width: 1210px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #F1F1F1;
  z-index: 99;
  position: relative;
  font-size: 12px;
}
.header li {
  float: left;
  height: 30px;
  padding: 0 2px;
}
.header li a {
  color: #9A949B;
}

.cw-icon {
  position: relative;
  cursor: default;
  zoom: 1;
}

.dorpdown {
  position: relative;
}

.search .logo-head {
  float: left;
  width: 240px;
  height: 100px;
}
.search .logo-head .logo {
  background: url(../img/logo.png);
  width: 240px;
  height: 48px;
  display: block;
  text-indent: -20000px;
  margin-top: 25px;
}
.search .mod_service {
  margin: 25px 115px 0 0;
  width: 140px;
  height: 48px;
  float: left;
  position: relative;
}
.search #search {
  width: 575px;
  position: relative;
  z-index: 11;
  float: left;
  margin-top: 25px;
  font-size: 12px;
}
.search #search .form {
  width: 100%;
  height: 33px;
}
.search #search .form .text {
  width: 463px;
  float: left;
  height: 24px;
  line-height: 24px;
  padding: 4px;
  margin-bottom: 4px;
  border-width: 2px 0 2px 2px;
  border-color: #ff3e68;
  border-style: solid;
  outline: 0;
  font-size: 14px;
  font-family: Hiragino Sans GB, Microsoft Yahei, Simsun;
}
.search #search .form .button {
  text-align: center;
  padding: 0;
  float: left;
  width: 102px;
  height: 36px;
  background: #ff3e68;
  border: none;
  line-height: 1;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: "Hiragino Sans GB", "microsoft yahei", "simsum";
}
.search #search .hotwords {
  width: 470px;
  float: left;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.search #search .hotwords a {
  float: left;
  white-space: nowrap;
  margin-right: 10px;
  color: #a9a4a8;
  font-family: "microsoft yahei";
}
.search #settleup {
  float: right;
  z-index: 11;
  height: 36px;
  margin-top: 25px;
}
.search #settleup .ci-left {
  background: url(../img/nav.png)-59px 0 no-repeat;
  width: 17px;
  height: 18px;
  left: 8px;
  top: 8px;
  display: block;
  position: absolute;
  overflow: hidden;
}
.search #settleup span {
  color: #fff;
  font-size: 16px;
}
.search .clr {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.search .cw-icon {
  display: block;
  width: 90px;
  height: 34px;
  border: 1px solid #ff3e68;
  padding: 0 2px 0 26px;
  background: #ff3e68;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  text-decoration: none;
}

#nav {
  position: relative;
  min-width: 1210px;
  height: 42px;
  border-bottom: 1px solid #312B30;
}
#nav .w {
  position: relative;
  z-index: 13;
  height: 44px;
}
#nav .w #categorys {
  float: left;
  position: relative;
  z-index: 10;
  width: 242px;
  height: 40px;
  overflow: visible;
  background: #312B30;
  border-bottom: 2px solid #312B30;
}
#nav .w #categorys .dt a {
  display: block;
  width: 184px;
  height: 42px;
  line-height: 44px;
  font-size: 16px;
  padding: 0 10px 0 46px;
  background: #312B30;
  color: #fff;
  text-decoration: none;
}
#nav .w #categorys .dt a i {
  background-repeat: no-repeat;
  background-position: -53px -131px;
  width: 16px;
  height: 14px;
  position: absolute;
  top: 15px;
  right: 204px;
}
#nav .w #categorys .dd {
  height: 526px;
  background-color: #312b30;
}
#nav .w #categorys .dd .dd-inner {
  padding: 1px 0 0 10px;
}
#nav .w #categorys .dd .dd-inner .item {
  position: relative;
  z-index: 1;
  height: 33px;
  color: #fff;
  margin-top: 10px;
}
#nav .w #categorys .dd .dd-inner .item h3 {
  float: left;
  z-index: 2;
  height: 33px;
  padding: 0 13px 0 35px;
  line-height: 33px;
  font-size: 14px;
}
#nav .w #categorys .dd .dd-inner .item h3 i {
  background-repeat: no-repeat;
  position: absolute;
  width: 18px;
  height: 20px;
  top: 6px;
  right: 204px;
  background-position: -28px;
  background: url(../img/nav.png) no-repeat -28px 0;
}
#nav .w #categorys .dd .dd-inner .item h3 a {
  color: #fff;
  font-weight: normal;
  opacity: .91;
}
#nav .w #categorys .dd .dd-inner .item h3 .arrow-right {
  position: absolute;
  background-repeat: no-repeat;
  background-position: -60px -102px;
  width: 6px;
  height: 9px;
  top: 11px;
  right: 20px;
  background: url(../img/nav.png) -60px -102px no-repeat;
}
#nav .w #categorys .dd .dd-inner .item h4 {
  float: left;
  z-index: 2;
  width: 48px;
  height: 33px;
  overflow: hidden;
  padding: 0 5px 0 2px;
  line-height: 33px;
  font-weight: normal;
}
#nav .w #categorys .dd .dd-inner .item h4 a {
  font-size: 14px;
  color: #C0B6C2;
  opacity: .91;
}
#nav .w #categorys .dd .dd-inner .item .sub-menu {
  width: 725px;
  height: 523px;
  background: #fff;
  position: absolute;
  left: 232px;
  border: 1px solid #df6adf;
  border-left: 0;
  /*  .sub-list{
      display: inline-block;
      // *display: inline;
      // *zoom: 1;
      vertical-align: top;
      width: 350px;
      min-height: 139px;
      max-height: 508px;
      margin: 14px 0 0 39px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      dl{
          white-space: nowrap;
          overflow: hidden;
          max-height: 100px;
          dt{
              margin-bottom: 14px;
              line-height: 18px;
              a {
                  font-size: 14px;
                  font-weight: bold;
                  color: #312B30;
              }
          }
          dd{
              float: left;
              line-height: 12px;
              margin-bottom: 9px;
              a {
                  display: block;
                  font-size: 12px;
                  color: #312B30;
                  padding-right: 9px;
                  margin-right: 9px;
                  border-right: 1px solid #DEDEDE;
              }
          }
      }
      .split {
          border-top: 1px solid #E3E2E3;
          height: 0;
          width: 350px;
          margin: 14px 0 19px;
      }
  }
  .sub-right {
      position: relative;
      display: inline-block;
      width: 280px;
      height: 524px;
      vertical-align: top;
      margin-left: 50px;
      overflow: hidden;
      z-index: 1;
      
  } */
}
#nav .w #categorys .dd .dd-inner .item:hover {
  background: #ffffff;
}
#nav .w #categorys .dd .dd-inner .item:hover a {
  color: #312B30;
}
#nav .w #navitems {
  float: left;
  z-index: 2;
}
#nav .w #navitems ul li {
  float: left;
}
#nav .w #navitems ul li a {
  float: left;
  height: 42px;
  line-height: 42px;
  margin-left: 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  position: relative;
}
#nav .w #navitems ul li a img {
  max-height: 26px;
  border: 0;
  vertical-align: middle;
}

/*# sourceMappingURL=index.css.map */
