body {
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  color: #666;
  background: #fff;
}

.w {
  width: 990px;
  margin: 0 auto;
}

#logo {
  position: relative;
  width: 300px;
  margin: 10px 0;
  height: 60px;
  float: left;
}
#logo a {
  color: #666;
}
#logo b {
  display: block;
  width: 110px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../img/l-icon.png) no-repeat;
}

.q-link {
  position: relative;
  color: #999;
  float: right;
  top: 52px;
}
.q-link b {
  display: inline-block;
  width: 18px;
  height: 14px;
  margin: 0 5px;
  background: url(../img/q-icon.png) no-repeat;
  overflow: hidden;
  vertical-align: middle;
}

#content {
  clear: both;
}
#content .tips-wrapper {
  background: #fff8f0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#content .tips-wrapper .cont-wrapper {
  display: inline-block;
  width: 90%;
}
#content .tips-wrapper .cont-wrapper .icon-tips {
  background: url(../img/icon-tips.png);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
#content .tips-wrapper .cont-wrapper p {
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  display: inline-block;
}
#content .tips-wrapper .cont-wrapper p a {
  color: #333;
}
#content .login-wrap {
  position: relative;
  height: 475px;
  margin: 10px 0 20px;
  z-index: 5;
  margin-top: 0;
}
#content .login-wrap .login-form {
  float: right;
  top: 10px;
  position: relative;
  z-index: 4;
  background: #fff;
  overflow: visible;
  width: 346px;
}
#content .login-wrap .login-form .login-tab {
  height: 54px;
  font-size: 18px;
  font-family: "microsoft yahei";
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
  position: absolute;
  background: #fff;
  display: block;
}
#content .login-wrap .login-form .login-tab a.checked, #content .login-wrap .login-form .login-tab a:hover {
  font-weight: 700;
  color: #e4393c;
}
#content .login-wrap .login-form .login-tab a {
  color: #666;
  width: 99%;
  height: 18px;
  position: absolute;
  left: 0;
  top: 18px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
#content .login-wrap .login-form .login-tab-l, #content .login-wrap .login-form .login-tab-r {
  width: 173px;
}
#content .login-wrap .login-form .login-tab-r {
  right: 0;
}
#content .login-wrap .login-form .login-box {
  width: 306px;
  padding: 20px;
}
#content .login-wrap .login-form .login-box .tab-h {
  height: 35px;
}
#content .login-wrap .login-form .login-box .mt {
  display: inline-block;
  display: block;
  width: 306px;
  overflow: visible;
  height: 27px;
}
#content .login-wrap .login-form .login-box .mt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content .login-wrap .login-form .login-box .msg-wrap {
  min-height: 23px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto !important;
}
#content .login-wrap .login-form .login-box .msg-wrap .msg-error {
  position: relative;
  background: #ffebeb;
  color: #e4393c;
  border: 1px solid #faccc6;
  padding: 3px 10px 3px 40px;
  line-height: 15px;
  height: auto;
}
#content .login-wrap .login-form .login-box .msg-wrap .msg-error b {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: url(../img/pwd-icons-new.png) -104px -49px no-repeat;
}
#content .login-wrap .login-form .login-box .mc {
  overflow: visible;
}
#content .login-wrap .login-form .login-box .mc .form .label, #content .login-wrap .login-form .login-box .mc .form button, #content .login-wrap .login-form .login-box .mc .form input, #content .login-wrap .login-form .login-box .mc .form label, #content .login-wrap .login-form .login-box .mc .form select, #content .login-wrap .login-form .login-box .mc .form textarea {
  float: left;
  font-size: 12px;
}
#content .login-wrap .login-form .login-box .mc .form .item-fore1, #content .login-wrap .login-form .login-box .mc .form .item-fore2 {
  border: 1px solid #bdbdbd;
  height: 38px;
  width: 304px;
}
#content .login-wrap .login-form .login-box .mc .form .item {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}
#content .login-wrap .login-form .login-box .mc .form .item .login-label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border-right: 1px solid #bdbdbd;
  background: url(../img/pwd-icons-new.png) no-repeat;
}
#content .login-wrap .login-form .login-box .mc .form .item .itxt {
  line-height: 18px;
  height: 18px;
  border: 0;
  padding: 10px 0 10px 50px;
  width: 254px;
  float: none;
  overflow: hidden;
  font-size: 14px;
  font-family: '\5b8b\4f53';
}
#content .login-wrap .login-form .login-box .mc .form .item .pwd-label {
  background-position: -48px 0;
}
#content .login-wrap .login-form .login-box .mc .form .form .item-fore1 .clear-btn, #content .login-wrap .login-form .login-box .mc .form .form .item-fore2 .clear-btn {
  position: absolute;
  z-index: 20;
  right: 6px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: url(../img/pwd-icons-new.png) -25px -143px no-repeat;
  cursor: pointer;
  display: none;
}
#content .login-wrap .login-form .login-box .mc .form .item-fore2 {
  border: 1px solid #bdbdbd;
  height: 38px;
  width: 304px;
}
#content .login-wrap .login-form .login-box .mc .form .safe .forget-pw-safe {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
#content .login-wrap .login-form .login-box .mc .form .safe .forget-pw-safe a {
  color: #666;
  text-decoration: none;
}
#content .login-wrap .login-form .login-box .mc .form .item-fore5 {
  margin-bottom: 10px;
}
#content .login-wrap .login-form .login-box .mc .form .item-fore5 .login-btn {
  border: 1px solid #cb2a2d;
  margin: 0 auto;
  height: 32px;
  width: 99%;
  position: relative;
}
#content .login-wrap .login-form .login-box .mc .form .item-fore5 .login-btn .btn-img {
  text-align: center;
  border: 1px solid #e85356;
  display: block;
  width: 302px;
  background: #e4393c;
  height: 31px;
  line-height: 31px;
  color: #fff;
  font-size: 20px;
  font-family: 'Microsoft YaHei';
}
#content .login-wrap .login-form .qrcode-login {
  display: block;
  visibility: visible;
  width: 306px;
  padding: 20px 18px 20px 20px;
  text-align: center;
}
#content .login-wrap .login-form .qrcode-login .qrcode-error-2016 {
  left: 0px;
  display: none;
  font-size: 14px;
  color: #fbfbfb;
  margin-top: 65px;
  position: relative;
  z-index: 1;
}
#content .login-wrap .login-form .qrcode-login .qrcode-error-2016 .qrcode-error-mask {
  display: block;
  position: absolute;
  width: 170px;
  background: #000;
  filter: alpha(opacity=60);
  -moz-opacity: .6;
  opacity: .6;
  height: 163px;
  left: 66px;
  z-index: 9;
  top: 0;
  text-align: center;
  line-height: 100px;
}
#content .login-wrap .login-form .qrcode-login .qrcode-error-2016 .err-cont {
  position: absolute;
  left: 0;
  top: 55px;
  width: 100%;
  z-index: 19;
  font-weight: 700;
}
#content .login-wrap .login-form .qrcode-login .qrcode-error-2016 .refresh-btn {
  display: block;
  background: #e4393c;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 95px;
  left: 113px;
  line-height: 30px;
  opacity: 1;
  z-index: 19;
  color: #fbfbfb;
  text-decoration: none;
}
#content .login-wrap .login-form .qrcode-login .qrcode-main {
  position: relative;
  height: 168px;
  margin-top: 55px;
}
#content .login-wrap .login-form .qrcode-login .qrcode-main .qrcode-img {
  border: 1px solid #f4f4f4;
  padding: 8px;
  width: 155px;
  position: absolute;
  left: 64px;
}
#content .login-wrap .login-form .qrcode-login .qrcode-main .qrcode-img img {
  width: 147px;
  height: 147px;
}
#content .login-wrap .login-form .qrcode-login .qrcode-main .qrcode-img .qrcode-error02 {
  padding: 30px 0;
}
#content .login-wrap .login-form .qrcode-login .qrcode-main .qrcode-help {
  display: none;
  position: absolute;
  right: -18px;
  top: -2px;
  width: 141px;
  height: 168px;
  background: url(../img/phone-orange.png) no-repeat;
  z-index: 99;
}
#content .login-wrap .login-form .qrcode-login .qrcode-panel {
  width: 257px;
  margin: 18px auto 14px;
  text-align: center;
}
#content .login-wrap .login-form .qrcode-login .qrcode-panel li.fore1 {
  border: 0;
}
#content .login-wrap .login-form .qrcode-login .qrcode-panel li {
  display: inline-block;
  *display: inline;
  padding: 0 0 0 5px;
  margin: 0 5px 0 0;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent {
  background-color: #fff;
  font-family: "microsoft yahei";
  color: #999;
  border: none;
  padding: 0;
  line-height: 25px;
  margin-left: 40px;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent .coagent li {
  float: left;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent li {
  text-align: left;
  position: relative;
  margin-right: 18px;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent li b {
  width: 25px;
  height: 25px;
  display: block;
  background: url(../img/qr-coagent.png) no-repeat;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent li em {
  padding-left: 32px;
  *display: inline-block;
  _display: inline;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent li .faster {
  background-position: -27px;
}
#content .login-wrap .login-form .qrcode-login .qr-coagent li .more-safe {
  background-position: -54px;
}
#content .login-wrap .login-form .coagent ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content .login-wrap .login-form .coagent {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  border-top: 1px solid #f4f4f4;
  height: auto;
  background-color: #fcfcfc;
}
#content .login-wrap .login-form .coagent li {
  float: left;
}
#content .login-wrap .login-form .coagent li a.pdl {
  display: inline-block;
  position: relative;
  padding-left: 24px;
}
#content .login-wrap .login-form .coagent li a.pdl b {
  width: 19px;
  height: 18px;
  display: block;
  background: url(../img/QQ-weixin.png) no-repeat;
  margin: 0 auto;
  position: absolute;
  float: left;
  left: 0;
  top: 16px;
}
#content .login-wrap .login-form .coagent li a.pdl b .weixin-icon {
  background-position: -20px 0;
}
#content .login-wrap .login-form .coagent li .line {
  color: #ccc;
  padding: 0 10px;
}
#content .login-wrap .login-form .coagent .extra-r {
  float: right;
}
#content .login-wrap .login-form .coagent .extra-r .regist-link {
  color: #b61d1d;
  font-size: 14px;
}
#content .login-wrap .login-form .coagent .extra-r .regist-link a {
  color: #b61d1d;
}
#content .login-wrap .login-form .coagent ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content .login-wrap .login-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 475px;
  background: #e93854 url(../img/login_banner.png);
}
#content .login-wrap .login-banner .i-inner {
  position: relative;
  z-index: 3;
  height: 475px;
}

#footer {
  padding-bottom: 30px;
  text-align: center;
}
#footer .copyright {
  margin: 10px 0;
}
#footer .links a, #footer .links span {
  color: #666;
  margin: 0 10px;
}

/*# sourceMappingURL=login.css.map */
